@media only screen and (max-width: 576px){
    
    .footer_00{
        background-color: rgb(0, 0, 0, 0.4);
        border-top: white solid 0.1rem;
        position: absolute;
        top: 197%;
		height: 5rem;
		bottom: 0%;
        width: 100%;
    }
    .resources_github_00,.resources_linkedin_00{
        position: absolute;
        bottom: 1.5rem;
        left: 19rem;
        width: 2rem;
    height: 2rem;
    /* padding: 5em; */
}
    
    .resources_linkedin_00{
        left: 25rem;}
    
    .resources_spans > span{
        margin: 0 2rem;
     }
}

@media only screen and (min-width: 576px){
    .footer_00{
       display: none;
    }
}
