#root {
	max-width: 1920px;
	/* margin: 0; */
	/* padding: 2rem; */
	/* text-align: center; */
}

#Welcome_web_page{
	background-image: url('./assets/img/72\ hours\ in\ Oslo\,\ Norway.jfif');
}


#nav {
	display: flex;
	position: fixed;
	justify-content: center;
	top: 3rem;
	left: 0;
	width: 100%;
	height: auto;
	background-color: rgb(255, 136, 0);
	/* border: 3px solid black; */
}

#list{
	list-style: none;
	width: 190rem;
	height: 7.2rem;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#list button {
	border: none;
	background: none;
	cursor: pointer;
	width: 9rem;
	margin: .7rem;
	padding: .5rem;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	
}

#list #black{
	color: black;
}


#Welcome_web_page img{
	width: 100%;
	height: auto;
	}